<!doctype html>

<html>
<head>
	<title>Hi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> friend.o </p>
		<p> A connection visualizer </p>



		<p class="spacer" style="margin-top: 100px"> </p>
		<input class="textbox" type="text" placeholder="Username" name="username" required>
		<input class="textbox" type="text" placeholder="Password" name="password" required>
		<button> SIGN IN </button>
		<button class="clear" style="margin-right: 35px"> Forgot password? </button>
		<button class="clear" style="margin-left: 35px"> Sign up </button>


	</div>

	<!-- Bottom text -->
	<div style="position: absolute; bottom:5px; margin: 0; margin-left: 10px;">
		<p class="small"> © Cogs 121 </p>
	</div>

</body>
</html>
