

html body{
  background-image:url(/images/BG.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat: repeat-y;

}

#title{
  margin:auto;
  width:10%
  height:auto;
}

img{
  border-radius:25px;
}


div {
	text-align: center;
}

.recipelist{
  text-align:left;
}


label {
	/*font-family: ""; */
	font-size: 100%;
	vertical-align: left;
}


h1 {
  font-family: arial;
}


button {
  border-radius: 5pt;
}


label {
  font-family: arial;
}


.container {
	vertical-align: center;
	text-align: center;
  width: 80%;
}


.header {
  font-family: courier;
  font-weight: bold;
}


.label {
	text-align: center;
	font-size: 150%;
}

.recipeList{
	text-align: center;
  border-radius: 5px;
}


.foodPicture{
	text-align: center;
}


.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.navButton{
	float: center;

	background-color: white;
	border: none;
	border-radius: 8px;
	color: gray;

	padding: 20px 20px;
}

.recipeSummary{
	text-align: center;
}


/*Slideshow stuff */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlide {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#expbar{
	width:300px;
}

meter{
  width:150px;
}

div.scrollmenu {
    
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

div.submenu {
  background-color: #777;
  overflow: auto;
  white-space: nowrap;
  position: fixed;
  bottom: 47px;
  width: 100%;
  z-index: 3;
}

div.submenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

div.submenu a:hover {
    background-color: #777;
}


.active{
  background-color: #2ea095;
}


.activeB{
  background-color: #FF8C00; 
  color: white;
  transition: background-color 0.6s ease;
}


#photo {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 70%;
  max-width: 70%;
}

.backbtn{
  margin-top: 10px;
  margin-left: 10px;
}


.sliderC {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-appearance: none; 
  height: 7px; 
  width: 100%;
  border-radius: 5px;
  appearance: none;
  margin-bottom: 20px;
}

.slider {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-appearance: none; 
  height: 35px; 
  width: 100%;
  border-radius: 5px;
  appearance: none;
  margin-bottom: 20px;
}

.sliderC::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #FF8C00; /* Green background */
    border-radius: 5px;
    cursor: pointer; /* Cursor on hover */
}

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}





/*Achievements*/

.ach-border{
  border-radius:25px;
  border:2px solid black;
  padding:20px;
  margin-left:20px;
  margin-right: 20px;

}

.ach-container{
 height: 120px;
}

.ach-container img {
  width:auto;
  height:100%;
  float:left;
}

#logo{
  width:75%;
  height:75%;
}


/* Intro Screen */
.texts {
  font-family: Calibri;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4d5259;
}

.textbox {
  font-family: Calibri;
  border: none; 
  border-radius: 5px; 
  margin-bottom: 25px; 
  width: 100%; 
  height: 40px;
}

.buttons {
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 100%; 
  height: 40px; 
  background-color: #FF8C00; 
  color: white;
}

.buttonsB {
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 100%; 
  height: 40px; 
  color: white;
}

.backbutton{
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  margin: 5px;
  width: 60px; 
  height: 30px; 
  background-color: #FF8C00; 
  color: white;
}

.listDiv {
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 100%; 
  display:inline-block;
  background-color: white; 
  color: #4d5259;
  position:relative;

}

.listHeader {
  font-family: Calibri;
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px; 
  width: 100%; 
  color: #4d5259;
}

.listLabel {
  font-family: Calibri;
  text-align: left;
  margin-left: 10px;
  width: 100%; 
  color: #4d5259;
}

.check {
  width: 30px;
  height: 30px;
}


hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #4d5259;
}

/* Bottom fixed nav bar */
div.topnav {
  background-color: #555555;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d5259;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Calibri;
    padding: 14px 16px;
    text-decoration: none;
}

.active, .dot:hover {
  background-color: #FF8C00;
}


.searchbtn{
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 75%; 
  height: 40px; 
  background-color: #FF8C00; 
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#mainsearch{
  width:75%;
  height:auto;
}

.x_button{
  position: absolute;
  top:10px;
  right:10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color:white;
  border: none;
  background-color: #a34c4c;

}

.atemealbtn{
  text-align: center;
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 50%; 
  height: 40px; 
  background-color: #FF8C00; 
  color: white;

}

.nvmbtn{
  text-align: center;
  border: none; 
  border-radius: 5px;
  margin-bottom: 20px; 
  width: 40%; 
  height: 20px; 
  background-color: gray; 
  color: white;
}
