<!doctype html>

<!--
File: home.html
Purpose: This is the main page of our app after login. It features the main functionality of our app,
which is the visualization of a user's music listening habits in addition to the visualzation of the
same data for a friend based off last.fm data. Additionally, the user can also see their compatibilty
with a friend to see how similar their music tastes are.
-->

<html>
<head>
	<title>inTune</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<link href="/css/c3.css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/sessionstorage.js"> </script>

	<!-- Load d3.js and c3.js -->
	<script src="/js/d3.js" charset="utf-8"></script>
	<script src="/js/c3.js"></script>
	<script src="/js/charts.js"></script>

	<script type="text/javascript">

	$(document).ready(() => {
		let friendsToggle = true;
		let tagsToggle = true;
		let gaugeChart = generateGauge('#gaugeChart');
		let pieChart = c3.generate({
			bindto: '#pieChart',
	    data: {
	        // iris data from R
	        columns: [
	            ['data1', 30],
	            ['data2', 120],
	        ],
	        type : 'pie',
	        onclick: function (d, i) { console.log("onclick", d, i); },
	        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
	        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
	    }
		});

		let friendsPieChart = c3.generate({
			bindto: '#friendsPieChart',
	    data: {
	        // iris data from R
	        columns: [
	            ['data1', 30],
	            ['data2', 120],
	        ],
	        type : 'pie',
	        onclick: function (d, i) { console.log("onclick", d, i); },
	        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
	        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
	    }
		});
		$('#gaugeChart').hide();
		$('#pieChart').hide();
		$('#friendsPieChart').hide();
		console.log("Logged in as: " + sessionStorage.getItem("user"));

		//getFriends
		$('#getTopTracks').click(() =>{
			$('#yourName').html('<p class="text_list">' + "Your Tags" + '</p>');
			console.log('Submit POST request to lastfm for friends');
			const uid = sessionStorage.getItem('uid');
			console.log('uid: ' + sessionStorage.getItem('uid'));
			if(friendsToggle == true){
				$.ajax({
					type : 'POST',
					url: '/topTracks',
					data: {
						user: uid
					},
					success: (data) => {
						savePieChartData(data);
						setTimeout(function () {
						    pieChart.unload({
						        ids: 'data1'
						    });
						    pieChart.unload({
						        ids: 'data2'
						    });
						}, 	500);
						loadPieChart(pieChart,data);
						$('#pieChart').show();
						friendsToggle = false;
					},
					error: (code, message) => {
						console.log('Error Message: ' + message);
					}
				})
			}else{
				$('#pie').hide();
				friendsToggle = true;
			}
		});

		$('#getFriendTracks').click(() => {
			$('#songList').hide();
			friendsToggle = true;
			const uid = sessionStorage.getItem('uid');
			if ($('#div_add').css('display') == 'none') {
				$.ajax({
					type : 'POST',
					url: '/getFriends',
					data: {
						user: uid,
					},
					success: (data) => {
						$('#friendList').html('');
						let keys = Object.keys(data)
						for(key in keys){
							let btn = document.createElement("button");
							btn.classList.add('text_like');
							btn.onclick = function() {
								$('#lastfm_email').val(this.textContent);
							}
							let text = document.createTextNode(keys[key]);
							btn.appendChild(text);
							$('#friendList').append(btn);
						}
					},
					error: (code, message) => {
						console.log('Error Message: ' + message);
					}
				});
				$('#chev_friend').attr('class', 'chevron_up');
				$('#div_add').show();}
			else {
				$('#chev_friend').attr('class', 'chevron_down');
				$('#div_add').hide();}
		});

		$('#lastfm_email').change(() => {
			console.log('input changed');
			$('#tagList').hide();
			tagsToggle = true;
		});

		$('#lastfm_account').click(() => {
			$('#friendsName').html('<p class="text_list">' + $('#lastfm_email').val() + "'s Tags" + '</p>');
			let friend = document.getElementById('lastfm_email').value;
			const uid = sessionStorage.getItem('uid');
			$.ajax({
				type : 'POST',
				url: '/getSimilarSongs',
				data: {
					user: uid,
					friend: friend
				},
				success: (data) => {
					setTimeout(function () {
							friendsPieChart.unload({
									ids: 'data1'
							});
							friendsPieChart.unload({
									ids: 'data2'
							});
					}, 	500);
					loadPieChart(friendsPieChart,data[1]);
					if(data[2].length > 0){
						let similarTagsBuffer = "";
						for(tag in data[2]){
							similarTagsBuffer += data[2][tag] + ", ";
						}
						$('#similarTags').html('');
						$('#similarTags').append('<p class="text_list">' + "Similar tags with " + friend + ": " + '</p>');
						$('#similarTags').append('<p class="small">' + similarTagsBuffer + '</p>');
					}else{
						$('#similarTags').append('<p class="text_list">' + "No tags in common" + '</p>');
					}

					if(data[3].length > 0){
						let similarSongsBuffer = "";
						for(song in data[2]){
							similarSongsBuffer += song;
						}
						$('#similarTags').html('');
						$('#similarTags').append('<p class="text_list">' + "Similar tags with " + friend + ": " + '</p>');
						$('#similarTags').append('<p class="small">' + similarSongsBuffer + '</p>');
					}else{
						$('#similarTags').append('<p class="text_list">' + "No songs in common" + '</p>');
					}
					$('#friendsPieChart').show();
					loadGauge(gaugeChart, data[4]);
					$('#gaugeChart').show();
					console.log(data);
				},
				error: (code, message) => {
					console.log('Error Message: ' + message);
				}
			});

			// scrolling animation
			$('html, body').animate({scrollTop: $('#friendsName').offset().top}, 500);
		})
	});

	</script>
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> Home </p>

		<p class="spacer" style="margin-top: 25px"> </p>

	</div>

	<div style="margin: 0px;">
		<!-- view tracks -->
		<button id="getTopTracks" class="home">
			<img src="../images/note_active.png"> View Your Top Tags
		</button>

		<!-- add friends -->
		<button id="getFriendTracks" class="row">
			<img src="../images/people.png"> View Your Friend's Tags
			<img id="chev_friend" class="chevron_down" src="../images/chevron.png" style="float:right">
		</button>

		<div id="div_add" class="w_backgrnd" style="display: none;">
			<div style="margin: 0px; margin-top: 10px;">
					<div id="friendList"></div>
				<input id="lastfm_email" class="textbox" type="text" placeholder="Username" required>
				<button id="lastfm_account" style="margin-top: 0px;"> View </button>
			</div>
		</div>
		<div id="yourName"> <p class="text" style="text-align: left;"> </p> </div>
		<div id="pieChart"></div>
		<div id="friendsName"> <p class="text" style="text-align: left;"> </p> </div>
		<div id="friendsPieChart"></div>
		<div id="gaugeChart"></div>
		<div id="similarTags"></div>
		<div id="similarSongs"></div>

		<p class="spacer" style="margin-top: 100px"> </p>
	</div>

	<!-- navbar -->
	<div class="navbar">
		<a href="people.html">
			<img src="../images/people.png"> People
		</a>
		<a href="home.html" class="active">
			<img src="../images/note_active.png"> Home
		</a>
		<a href="settings.html">
			<img src="../images/gear.png"> Settings
		</a>
	</div>

</body>
</html>
