<!doctype html>

<html>
<head>
	<title>Hi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<link href="/css/c3.css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/sessionstorage.js"> </script>

	<!-- Load d3.js and c3.js -->
	<script src="/js/d3.js" charset="utf-8"></script>
	<script src="/js/c3.js"></script>
	<script src="/js/charts.js"></script>

	<script type="text/javascript">

	$(document).ready(() => {
		let friendsToggle = true;
		let tagsToggle = true;
		let pieChart = c3.generate({
			bindto: '#pieChart',
	    data: {
	        // iris data from R
	        columns: [
	            ['data1', 30],
	            ['data2', 120],
	        ],
	        type : 'pie',
	        onclick: function (d, i) { console.log("onclick", d, i); },
	        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
	        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
	    }
		});
		pieChart.hide();
		console.log("Logged in as: " + sessionStorage.getItem("user"));

		/*
		$('#showVisual1').click(() => {
			window.location.href = '/views/visual.html';
		});

		$('#showVisual2').click(() => {
			//$.ajax({
				const friends = Object.values(profiles)[sessionStorage.getItem("userIndex")][1]
				var i;
				for (i = 0; i < friends.length; i++)  {
					console.log(1);
					const p = document.createElement("P");
					const text = document.createTextNode(friends[i]);
					p.appendChild(text);
					document.getElementById('allprofiles').appendChild(p);
				}
			//});
		});
		$('#logout').click(() => {
			forget();
			window.location.href = '/index.html';
		});
		*/

		/*
		//getTopAlbumImage
		$('#getTopAlbumImage').click(() =>{
			console.log('Submit POST request to lastfm for album images')
			const uid = sessionStorage.getItem('uid');
			console.log(uid);
			$.ajax({
				type: 'POST',
				url: 'topAlbums',
				data: {

				}
			})
		});
		*/

		//getFriends
		$('#getTopTracks').click(() =>{
			console.log('Submit POST request to lastfm for friends');
			const uid = sessionStorage.getItem('uid');
			console.log('uid: ' + sessionStorage.getItem('uid'));
			if(friendsToggle == true){
				$.ajax({
					type : 'POST',
					url: '/topTracks',
					data: {
						user: uid
					},
					success: (data) => {
						setTimeout(function () {
						    pieChart.unload({
						        ids: 'data1'
						    });
						    pieChart.unload({
						        ids: 'data2'
						    });
						}, 	500);
						loadPieChart(pieChart,data);
						pieChart.show();
						friendsToggle = false;
					},
					error: (code, message) => {
						console.log('Error Message: ' + message);
					}
				})
			}else{
				pieChart.hide();
				friendsToggle = true;
			}
		});

		$('#getFriendTracks').click(() => {
			$('#songList').hide();
			friendsToggle = true;
			if ($('#div_add').css('display') == 'none') {
				$('#chev_friend').attr('class', 'chevron_up');
				$('#div_add').show();}
			else {
				$('#chev_friend').attr('class', 'chevron_down');
				$('#div_add').hide();}
		});

		$('#lastfm_email').change(() => {
			console.log('input changed');
			$('#tagList').hide();
			tagsToggle = true;
		});

		$('#lastfm_account').click(() => {
			let friend = document.getElementById('lastfm_email').value;
			console.log(friend);
			const uid = sessionStorage.getItem('uid');
			$.ajax({
				type : 'POST',
				url: '/getSimilarTags',
				data: {
					user: uid,
					friend: friend
				},
				success: (data) => {
					console.log(data);
				},
				error: (code, message) => {
					console.log('Error Message: ' + message);
				}
			});
		})
	});
	</script>
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> Home </p>

		<p class="spacer" style="margin-top: 25px"> </p>

	</div>

	<div style="margin: 0px;">
		<!-- view tracks -->
		<button id="getTopTracks" class="home">
			<img src="../images/note_active.png"> View Your Top Tags
		</button>

		<!-- add friends -->
		<button id="getFriendTracks" class="row">
			<img src="../images/people.png"> View Your Friend's Tags
			<img id="chev_friend" class="chevron_down" src="../images/chevron.png" style="float:right">
		</button>
		<div id="pieChart"></div>

		<div id="div_add" class="w_backgrnd" style="display: none;">
			<div style="margin: 0px; margin-top: 10px;">
				<input id="lastfm_email" class="textbox" type="text" placeholder="Username" required>
				<button id="lastfm_account" style="margin-top: 0px;"> View </button>
			</div>
			<ul>
				<div id="tagList">

				</div>
			</ul>
		</div>


		<p class="spacer" style="margin-top: 100px"> </p>
	</div>

	<!-- navbar -->
	<div class="navbar">
		<a href="people.html">
			<img src="../images/people.png"> People
		</a>
		<a href="home.html" class="active">
			<img src="../images/note_active.png"> Home
		</a>
		<a href="settings.html">
			<img src="../images/gear.png"> Settings
		</a>
	</div>

</body>
</html>
