<!doctype html>

<html>
<head>
	<title>Hi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/sessionstorage.js"> </script>

	<script type="text/javascript">

	$(document).ready(() => {
		console.log("Logged in as: " + sessionStorage.getItem("user"));

		$('#showVisual1').click(() => {
			window.location.href = '/views/visual.html';
		});

		$('#showVisual2').click(() => {
			//$.ajax({
				const friends = Object.values(profiles)[sessionStorage.getItem("userIndex")][1]
				var i;
				for (i = 0; i < friends.length; i++)  {
					console.log(1);
					const p = document.createElement("P");
					const text = document.createTextNode(friends[i]);
					p.appendChild(text);
					document.getElementById('allprofiles').appendChild(p);
				}
			//});
		});

		$('#logout').click(() => {
			forget();
			window.location.href = '/index.html';
		});

		//getFriends
		$('#getTopTracks').click(() =>{
			console.log('Submit POST request to lastfm for friends');
			const uid = sessionStorage.getItem('uid');
			console.log(sessionStorage.getItem('uid'));
			$.ajax({
				type : 'POST',
				url: '/topTracks',
				data: {
					user: uid
				},
				success: (data) => {
					console.log(data);
				},
				error: (code, message) => {
					console.log('Error Message: ' + message);
				}
			})
		});
	});
	</script>
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> Home </p>

		<p class="spacer" style="margin-top: 25px"> </p>

		<button id="showVisual1"> CREATE VISUAL 1</button>

		<button id="getTopTracks"> GET Top Tracks </button>

		<div id="allprofiles"> </div>
	</div>

	<!-- navbar -->
	<div class="navbar">
		<a href="people.html">
			<img src="../images/people.png"> People
		</a>
		<a href="home.html" class="active">
			<img src="../images/note_active.png"> Home
		</a>
		<a href="settings.html">
			<img src="../images/gear.png"> Settings
		</a>
	</div>

</body>
</html>
