<!doctype html>

<html>
<head>
	<title>Hi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/sessionstorage.js"> </script>

	<script type="text/javascript">

	$(document).ready(() => {
		console.log("Logged in as: " + sessionStorage.getItem("user"));

		$('#showVisual2').click(() => {
			//$.ajax({
				const friends = Object.values(profiles)[sessionStorage.getItem("userIndex")][1]
				var i;
				for (i = 0; i < friends.length; i++)  {
					console.log(1);
					const p = document.createElement("P");
					const text = document.createTextNode(friends[i]);
					p.appendChild(text);
					document.getElementById('allprofiles').appendChild(p);
				}
			//});
		});

		//getFriends
		$('#friend_show').click(() =>{
			console.log('Submit POST request to lastfm for friends');
			const uid = sessionStorage.getItem('uid');
			console.log(sessionStorage.getItem('uid'));
			$.ajax({
				type : 'POST',
				url: '/topTracks',
				data: {
					user: uid
				},
				success: (data) => {
					console.log(data);
				},
				error: (code, message) => {
					console.log('Error Message: ' + message);
				}
			})
		});

		$('#friend_add').click(() => {
			if ($('#div_add').css('display') == 'none') {
				$('#chev_friend_add').attr('class', 'chevron_up');
				$('#div_add').show();}
			else {
				$('#chev_friend_add').attr('class', 'chevron_down');
				$('#div_add').hide();}
		});
	});
	</script>
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> People </p>

		<p class="spacer" style="margin-top: 50px"> </p>

		<div id="profile">

		</div>
	</div>

	<div style="margin: 0px;">
		<!-- show friends -->
		<button id="friend_show" class="row">
			<img src="../images/people.png"> Show Friends
		</button>
		<!-- add friends -->
		<button id="friend_add" class="row">
			<img src="../images/addfriend.png"> Add Friend
			<img id="chev_friend_add" class="chevron_down" src="../images/chevron.png" style="float:right">
		</button>
		<div id="div_add" class="w_backgrnd" style="display: none;">
			<div style="margin: 0px; margin-top: 10px;">
				<input id="lastfm_email" class="textbox" type="text" placeholder="Username" required>
				<button id="lastfm_account" style="margin-top: 0px;"> Add </button>
			</div>
		</div>


		<div id="allprofiles"> </div>
	</div>

	<!-- navbar -->
	<div class="navbar">
		<a href="people.html" class="active">
			<img src="../images/people_active.png"> People
		</a>
		<a href="home.html">
			<img src="../images/note.png"> Home
		</a>
		<a href="settings.html">
			<img src="../images/gear.png"> Settings
		</a>
	</div>

</body>
</html>
