<!doctype html>

<html>
<head>
	<title>Hi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/sessionstorage.js"> </script>

	<script type="text/javascript">

	$(document).ready(() => {
		console.log("Logged in as: " + sessionStorage.getItem("user"));
		$('#name').text(sessionStorage.getItem("user"));

		function refreshFriendsList() {
			console.log('Submit POST request to lastfm for friends');
			const uid = sessionStorage.getItem('uid');
			console.log(sessionStorage.getItem('uid'));
			const user = sessionStorage.getItem('user')

			$.ajax({
				type : 'POST',
				url: '/getFriends',
				data: {
					user: uid
				},
				success: (data) => {
					console.log(data);
					$('#div_show').html('');
					Object.keys(data).forEach((name) => {
						$('#div_show').append('<p class="text_list">' + name + '</p>');
					});
				},
				error: (code, message) => {
					console.log('Error Message: ' + message);
				}
			})

		}

		//getFriends
		$('#friend_show').click(() => {
			refreshFriendsList();
			if ($('#div_show').css('display') == 'none') {
				$('#chev_friend_show').attr('class', 'chevron_up');
				$('#div_show').show();}
			else {
				$('#chev_friend_show').attr('class', 'chevron_down');
				$('#div_show').hide();}
		});

		$('#friend_add').click(() => {
			if ($('#div_add').css('display') == 'none') {
				$('#chev_friend_add').attr('class', 'chevron_up');
				$('#div_add').show();}
			else {
				$('#chev_friend_add').attr('class', 'chevron_down');
				$('#div_add').hide();}
		});

		$('#lastfm_account').click(() => {
	    let newFriend = $('#lastfm_email').val();

			if (newFriend == "") {
				$('#lastfm_account').text("Please enter a username");
				window.setTimeout(function() {
					$('#lastfm_account').text("Add");
				}, 1500);
			}
			else {
		    let uid = sessionStorage.getItem('uid');
		      $.ajax({
		        type: 'POST',
		        url: '/addFriends',
		        data: {
		        	uid: uid,
		          friend: newFriend,
		        },
		        success: (data) => {
		          console.log(data);
		        },
		        error: (code, message) => {
		          console.log('Error');
		        }
		      });
					refreshFriendsList();
					$('#lastfm_account').text("Friend Added!");
					window.setTimeout(function() {
						$('#lastfm_email').val("");
						$('#lastfm_account').text("Add");
					}, 1500);
				}
	  })

	});
	</script>
</head>

<body>
	<div>
		<p class="header"> </p>
		<p class="title"> People </p>

		<p class="spacer" style="margin-top: 25px"> </p>

		<!--
		<div id="profile">
			<img src="../images/don.jpg">
		</div>
		-->

		<p id="name"> </p>
	</div>

	<div style="margin: 0px;">
		<!-- show friends -->
		<button id="friend_show" class="row">
			<img src="../images/people.png"> Show Friends
			<img id="chev_friend_show" class="chevron_down" src="../images/chevron.png" style="float:right">
		</button>
		<div id="div_show" class="w_backgrnd" style="display: none;">
			<div id="allprofiles" style="margin: 0px; margin-top: 10px;">
			</div>
		</div>
		<!-- add friends -->
		<button id="friend_add" class="row">
			<img src="../images/addfriend.png"> Add Friends
			<img id="chev_friend_add" class="chevron_down" src="../images/chevron.png" style="float:right">
		</button>
		<div id="div_add" class="w_backgrnd" style="display: none;">
			<div style="margin: 0px; margin-top: 10px;">
				<input id="lastfm_email" class="textbox" type="text" placeholder="Username" required>
				<button id="lastfm_account" style="margin-top: 0px;"> Add </button>
			</div>
		</div>


		<p class="spacer" style="margin-top: 100px"> </p>
	</div>

	<!-- navbar -->
	<div class="navbar">
		<a href="people.html" class="active">
			<img src="../images/people_active.png"> People
		</a>
		<a href="home.html">
			<img src="../images/note.png"> Home
		</a>
		<a href="settings.html">
			<img src="../images/gear.png"> Settings
		</a>
	</div>

</body>


</html>
