<!doctype html>

<!--
File: signup.html
Purpose: This is the new user creation page for our application. It features a couple text boxes where
users enter in their own data in order to create a profile/account in our app. Additionally, users
must already have a last.fm account in order to use our application.
-->

<html>

<head>
  <title>inTune</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script src="/js/jquery-1.11.0.js"> </script>
  <script src="/js/sessionstorage.js"> </script>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div>
    <p class="header"> </p>
    <p class="title"> inTune </p>

    <p class="spacer" style="margin-top: 100px"> </p>
    <input id="name" class="textbox" type="text" placeholder="Name" required>
    <input id="email" class="textbox" type="email" placeholder="Email" required>
    <input id="username" class="textbox" type="text" placeholder="Last.fm Username" required>
    <input id="password" class="textbox" type="password" placeholder="Password" required>
    <input id="cpassword" class="textbox" type="password" placeholder="Confirm Password" required>

    <p id="err1" class="text" style="display: none; text-align:left; margin-left:30px">
        Username already taken
    </p>
    <p id="err2" class="text" style="display: none; text-align:left; margin-left:30px">
      Passwords do not match
    </p>
    <p id="err3" class="text" style="display: none; text-align:left; margin-left:30px">
      Please create a password
    </p>
    <p id="err4" class="text" style="display: none; text-align:left; margin-left:30px">
      Please confirm password
    </p>
    <p id="err5" class="text" style="display: none; text-align:left; margin-left:30px">
      Must enter in something
    </p>

    <button id="signup" onclick="createUser()">SIGN UP</button>
  </div>

  <!-- Bottom text -->
	<div style="position: absolute; bottom:5px; margin: 0; margin-left: 10px;">
      <p class="small"> Cogs 121 </p>
    </div>

</body>

<script>
  function createUser() {
    let name = $('#name').val();
    let user = $('#username').val();
    let email = $('#email').val();
    let pass1 = $('#password').val();
    let pass2 = $('#cpassword').val();

    if (pass1 !== pass2) { $('#err2').show(); }
    // use username to get Last.fm id

    // get Last.fm userId to store user
    else {
      $.ajax({
        type: 'POST',
        url: '/signup',
        data: {
          name: name,
          username: user,
          email: email,
          password: pass1
        },
        success: (data) => {
          remember(data.username,1,data.uid);
          window.location = '/views/home.html';
        },
        error: (code, message) => {
          console.log('Error');
        }
      });

    }
  }
</script>

</html>
