/*
File: main.css
Purpose: Contains stylings that we use across our web app. It includes color choices, text fonts,
text sizes, margins, layout options and other important styling features.

*/

@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  /*background-image: url("/images/background.png");*/
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

div {
    text-align: center;
    margin: 20px;
}

div.w_backgrnd {
  border-left: solid;
  border-bottom: solid;
  border-radius: 7px;
  border-width: 3px;
  border-color: #5084d8;
  background-color: #f5f5f5;
  margin: 20px;
  margin-top: 0px;
  padding-bottom: 10px;

  display: inline-block;
  float: center;
  width: 85%;
}

div #profile {
  border: solid;
  border-radius: 7px;
  border-width: 3px;
  border-color: #5084d8;
  background-color: #f5f5f5;
  margin: 20px;
  margin-top: 0px;

  display: inline-block;
  float: center;
  width: 85%;
}

div #profile img {
  margin: 0px;
  max-width: 100%;

  display: inline-block;
  float: center;
}

/* Texts */
p {
  font-family: Questrial;
  font-size: 30px;
}

p.title {
  font-size: 70px;
}

p.text {
  font-size: 20px;
}

p.small {
  font-size: 15px;
}

/* Buffers */
p.header {
  margin-top: 25px;
}

p.spacer {
  margin-top: 20px;
}

p.footer {
  margin-bottom: 50px;
}

/* Butons */
button {
  width: 85%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 15px;

  font-family: Questrial;
  font-size: 20px;

  background-color: #5084d8;
  color: white;
}

button.home {
  width: 85%;
  height: 50px;
  border-width: 0px;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 10px;

  font-family: Questrial;
  font-size: 20px;
  text-align: left;

  background-color: #5084d8;
  color: white;
  border-color: #e5e5e5;
}

button.home img {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

  max-height: 20px;
}

button.row {
  width: 85%;
  height: 50px;
  border-bottom: solid;
  border-width: 2px;
  border-radius: 3px;
  margin: 0px;

  font-family: Questrial;
  font-size: 20px;
  text-align: left;

  background-color: white;
  color: black;
  border-color: #e5e5e5;
}

button.row img {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

  max-height: 20px;
}

button.row img.chevron_down {
  transform:          rotate(225deg);
  -ms-transform:      rotate(225deg);
  -moz-transform:     rotate(225deg);
  -webkit-transform:  rotate(225deg);
  -o-transform:       rotate(225deg);

  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

  max-height: 13px;
}

button.row img.chevron_up {
  transform:          rotate(45deg);
  -ms-transform:      rotate(45deg);
  -moz-transform:     rotate(45deg);
  -webkit-transform:  rotate(45deg);
  -o-transform:       rotate(45deg);

  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 10px;

  max-height: 13px;
}


button.clear {
  width: auto;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0px;

  font-family: Questrial;
  font-size: 20px;

  background-color: white;
  color: #5084d8;
  opacity: 1;
}


.textbox {
  width: 85%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 12px 20px;

  font-family: Questrial;
  font-size: 20px;

  background-color: #e5e5e5;
}


/* navigation bar */
.navbar {
  margin: 0px;
  overflow: hidden;
  background-color: #e5e5e5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: center;
  width: 32%;
  display: inline-block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;

  font-family: Questrial;
  font-size: 17px;
}

.navbar a.active {
  background-color: #5084d8;
  color: white;
}

.navbar img {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

  max-height: 20px;
}
